/**********/
/* colors */
/**********/

$white:				#FFF;
$black:				#000;

$gray-color1:		#E5E5E5;
$gray-color2:		#EEEEEE;
$gray-color3:		#DFDFDF;
$gray-color4:		#F9F9F9;

$blue-color1:		#0085BA;
$blue-color2:		#008EC2;