@import "mstaxsync-admin-params";

/**
 * mstaxsync-admin-style-rtl.scss
 */
.wrap {
	.mstaxsync-admin-box {
		.content {

			/******************/
			/* taxonomy terms */
			/******************/

			.mstaxsync-taxonomy-terms-box {
				.mstaxsync-relationship {
					.selection {
						.list {
							ul {
								padding-left: 0;
								padding-right: 25px;
							}
						}

						.choices,
						.values {
							float: right;
						}

						.choices {
							.title {
								border-left: 1px solid #DFDFDF;
								border-right: 0;
							}

							.list {
								border-left: 1px solid #DFDFDF;
								border-right: 0;
							}
						}

						.values {
							li {
								.mstaxsync-rel-item {
									span {
										&.ind,
										&.edit,
										&.ok,
										&.cancel {
											margin-left: 0;
											margin-right: 5px;
										}
									}

									.remove {
										left: 7px;
										right: auto;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}