@import "mstaxsync-admin-params";

/**
 * mstaxsync-admin-style.scss
 */
.wrap {
	.mstaxsync-admin-box {
		position: relative;
		margin: 20px 0;
		border: 1px solid $gray-color1;
		background: $white;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

		.title {
			margin: 0;
			padding: 0 15px;
			border-bottom: 1px solid $gray-color2;

			h3 {
				margin: 1em 0;
				padding: 0;
				line-height: 1em;
				font-size: 14px;
			}

			.desc {
				margin: 1em 0;
				font-style: italic;
			}
		}

		.content {
			padding: 15px;

			/*****************/
			/* settings form */
			/*****************/

			.form-table {
				input[type="text"],
				input[type="password"],
				input[type="number"],
				textarea,
				select {
					width: 100%;
					max-width: 400px;
				}

				textarea {
					resize: none;
				}
			}

			/******************/
			/* taxonomy terms */
			/******************/

			.mstaxsync-taxonomy-terms-box {
				.mstaxsync-relationship {
					border: 1px solid $gray-color3;

					.selection {
						font-size: 14px;

						&:after {
							content: "";
							clear: both;
							display: table;
						}

						.title {
							margin: 0;
							padding: 5px 12px;
							border-bottom: 1px solid $gray-color3;

							h3 {
								margin: 0.5em 0;
							}

							.desc {
								margin: 0.5em 0;
							}
						}

						.list {
							margin: 0;
							padding: 5px;
							height: 250px;
							overflow: auto;

							.mstaxsync-rel-item {
								position: relative;
								margin: 0;
								padding: 5px 7px;
								min-height: 18px;
								display: block;
								cursor: pointer;

								&:hover,
								&.editing {
									color: $white;
									background: #3875D7;
								}

								&.disabled {
									&:hover {
										background: transparent;
										cursor: default;
									}
								}
							}

							ul {
								padding-left: 25px;
							}
						}

						.choices,
						.values {
							float: left;
							width: 50%;
							background: $white;
						}

						.choices {
							.title {
								border-right: 1px solid $gray-color3;
							}

							.list {
								border-right: 1px solid $gray-color3;
								background: $gray-color4;

								.no-terms {
									margin: 0;
									padding: 5px 7px;
									line-height: 1.4em;
									font-size: 14px;
								}

								li {
									.mstaxsync-rel-item {
										input[type="checkbox"] {
											position: relative;
											margin: 0 6px 0 0;
											top: 2px;
											min-width: 13px;
											width: 13px;
											height: 13px;
											vertical-align: top;
											cursor: auto;

											&:checked:before {
												font: normal 18px/1 dashicons;
											}
										}

										span {
											&.multiselect {
												float: right;
												font-size: 12px;
												color: $blue-color1;

												span {
													text-decoration: underline;
													cursor: pointer;
												}
											}
										}

										&:not(.disabled):hover {
											span {
												&.multiselect {
													color: $white;
												}
											}
										}

										&.disabled {
											span {
												&.val {
													color: rgba(68,68,68,.5);
												}
											}
										}
									}
								}
							}
						}

						.values {
							li {
								.mstaxsync-rel-item {
									cursor: move;

									span {
										&.synced,
										&.edit,
										&.ok,
										&.cancel,
										&.trash,
										&.remove {
											width: 18px;
											height: 18px;
											font-size: 18px;
											transition: none;
										}

										&.synced {
											margin-right: 5px;
											display: inline-block;

											&.can-detach {
												cursor: pointer;

												&:hover {
													opacity: .6;
												}
											}

											&.rotate {
												-webkit-animation:	rotating 2s linear infinite;
												-moz-animation:		rotating 2s linear infinite;
												-ms-animation:		rotating 2s linear infinite;
												-o-animation:		rotating 2s linear infinite;
												animation:			rotating 2s linear infinite;

												&:hover {
													opacity: 1;
												}
											}
										}

										&.ind,
										&.edit,
										&.ok,
										&.cancel,
										&.trash {
											margin-left: 5px;
											opacity: .6;
										}

										&.ind {
											font-style: italic;
											display: inline-block;
										}

										&.edit,
										&.ok,
										&.cancel,
										&.trash,
										&.remove {
											cursor: pointer;
											display: none;

											&:hover {
												opacity: 1;
											}
										}

										&.remove {
											position: absolute;
											top: 4px;
											right: 7px;
											border: 1px solid transparent;
											border-radius: 100%;
											background: #23282D;
										}
									}

									input {
										margin: 0;
										padding: 0 3px;
										width: 50%;
										border: 0;
										box-shadow: none;
										display: none;
									}

									&:hover {
										span {
											&.edit,
											&.trash,
											&.remove {
												display: inline-block;
											}

											&.remove {
												&:hover {
													color: #D54E21;
												}
											}
										}
									}

									&.editing {
										span {
											&.val,
											&.edit,
											&.trash {
												display: none;
											}

											&.ok,
											&.cancel {
												display: inline-block;
											}
										}

										input {
											display: inline-block;
										}
									}

									&.removing {
										color: $white;
										background-color: rgb(255, 51, 51);
										opacity: 1;
										-webkit-transition: opacity 500ms;
										-moz-transition:    opacity 500ms;
										-o-transition:      opacity 500ms;
										transition:         opacity 500ms;

										span {
											&.edit,
											&.trash {
												display: none;
											}
										}
									}
								}
							}
						}

						ul {
							width: auto;
						}

						li {
							float: none;
							margin: 0;
							padding: 0;
							display: block;
						}
					}
				}

				.advanced-treeview-controls {
					padding-top: 15px;

					& > span {
						margin-right: 10px;
						vertical-align: middle;

						&.multiselect {
							color: $blue-color1;

							span {
								text-decoration: underline;
								cursor: pointer;
							}
						}

						&.add-items {
							width: 28px;
							height: 28px;
							font-size: 28px;
							color: $blue-color1;
							opacity: .6;

							&.enabled {
								opacity: 1;
								cursor: pointer;

								&:hover {
									color: $blue-color2;
								}
							}
						}
					}
				}
			}
		}
	}

	.submit {
		.ajax-loading {
			margin-left: 5px;
			width: 24px;
			height: 24px;
			font-size: 24px;
			vertical-align: middle;
			-webkit-animation:	rotating 2s linear infinite;
			-moz-animation:		rotating 2s linear infinite;
			-ms-animation:		rotating 2s linear infinite;
			-o-animation:		rotating 2s linear infinite;
			animation:			rotating 2s linear infinite;
		}
	}
}

/**********************/
/* rotating animation */
/**********************/

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform:	rotate(0deg);
		-o-transform:		rotate(0deg);
		transform:			rotate(0deg);
	}
	to {
		-webkit-transform:	rotate(360deg);
		-o-transform:		rotate(360deg);
		transform:			rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-webkit-transform:	rotate(0deg);
		-moz-transform:		rotate(0deg);
		-ms-transform:		rotate(0deg);
		-o-transform:		rotate(0deg);
		transform:			rotate(0deg);
	}
	to {
		-webkit-transform:	rotate(360deg);
		-moz-transform:		rotate(360deg);
		-ms-transform:		rotate(360deg);
		-o-transform:		rotate(360deg);
		transform:			rotate(360deg);
	}
}

/************************/
/* taxonomies edit page */
/************************/

.widefat {
	td.mstaxsync_synced {
		ul {
			margin: 0;
		}
	}

	td.mstaxsync_import {
		.mstaxsync-import {
			color: #0073aa;
			cursor: pointer;

			&:hover {
				color: #00a0d2;
			}
		}

		.mstaxsync-import-result {
			margin-top: 5px;
			display: block;
		}

		.ajax-loading {
			margin-top: 3px;
			width: 24px;
			height: 24px;
			font-size: 24px;
			vertical-align: middle;
			display: block;
			-webkit-animation:	rotating 2s linear infinite;
			-moz-animation:		rotating 2s linear infinite;
			-ms-animation:		rotating 2s linear infinite;
			-o-animation:		rotating 2s linear infinite;
			animation:			rotating 2s linear infinite;
		}

		&.active {
			.ajax-loading {
				visibility: visible;
			}
		}

		&.active,
		&.done {
			.mstaxsync-import {
				cursor: default;

				&:hover {
					color: #0073aa;
				}
			}
		}
	}
}

/**********************************/
/* single post broadcast meta box */
/**********************************/

#mstaxsync_single_post_broadcast {
	.multiselect {
		font-size: 12px;
		color: $blue-color1;

		span {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.synced-sites {
		li {
			margin-left: 21px;

			label {
				margin-left: -21px;

				span {
					font-style: italic;
				}
			}
		}
	}
}

/************************/
/* tools - resync posts */
/************************/

.mstaxsync-resync-posts {
	&.active {
		cursor: default;

		& + .ajax-loading {
			visibility: visible;
		}
	}
}

.resync-posts-summary {
	margin: -10px 0 15px;
	font-style: italic;
}

.resync-posts-result {
	.mstaxsync-resynced-post {
		padding: 10px;
		background-color: $gray-color1;

		&:nth-child(even) {
			background-color: $gray-color4;
		}

		.mstaxsync-resynced-post-title {
			font-weight: bold;
			text-decoration: underline;
		}

		.mstaxsync-resynced-post-taxonomy-title {
			font-style: italic;
		}

		ul {
			padding-left: 25px;

			li {
				list-style: disc;
			}
		}
	}
}

/**************/
/* responsive */
/**************/

@media (max-width: 782px) {

	.wrap {
		.mstaxsync-admin-box {
			.content {

				/*****************/
				/* settings form */
				/*****************/

				.form-table {
					select {
						height: auto !important;
					}
				}
			}
		}
	}
}