@import "mstaxsync-admin-params";

/**
 * mstaxsync-admin-style-rtl.scss
 */
.wrap {
	.mstaxsync-admin-box {
		.content {

			/******************/
			/* taxonomy terms */
			/******************/

			.mstaxsync-taxonomy-terms-box {
				.mstaxsync-relationship {
					.selection {
						.list {
							ul {
								padding-left: 0;
								padding-right: 25px;
							}
						}

						.choices,
						.values {
							float: right;
						}

						.choices {
							.title {
								border-left: 1px solid $gray-color3;
								border-right: 0;
							}

							.list {
								border-left: 1px solid $gray-color3;
								border-right: 0;

								li {
									.mstaxsync-rel-item {
										input[type="checkbox"] {
											margin: 0 0 0 6px;

											&:checked:before {
												margin: -3px -3px 0 0;
											}
										}

										span {
											&.multiselect {
												float: left;
											}
										}
									}
								}
							}
						}

						.values {
							li {
								.mstaxsync-rel-item {
									span {
										&.synced {
											margin-left: 5px;
											margin-right: 0;
										}

										&.ind,
										&.edit,
										&.ok,
										&.cancel,
										&.trash {
											margin-left: 0;
											margin-right: 5px;
										}

										&.remove {
											left: 7px;
											right: auto;
										}
									}
								}
							}
						}
					}
				}

				.advanced-treeview-controls {
					& > span {
						margin-left: 10px;
						margin-right: 0;

						&.add-items {
							-webkit-transform: scale(-1, 1);
							-moz-transform:    scale(-1, 1);
							-ms-transform:     scale(-1, 1);
							-o-transform:      scale(-1, 1);
							transform:         scale(-1, 1);
						}
					}
				}
			}
		}
	}

	.submit {
		.ajax-loading {
			margin-left: 0;
			margin-right: 5px;
		}
	}
}

/**********************************/
/* single post broadcast meta box */
/**********************************/

#mstaxsync_single_post_broadcast {
	.synced-sites {
		li {
			margin-left: auto;
			margin-right: 21px;

			label {
				margin-left: auto;
				margin-right: -21px;
			}
		}
	}
}

/************************/
/* tools - resync posts */
/************************/

.resync-posts-result {
	.mstaxsync-resynced-post {
		ul {
			padding-left: 0;
			padding-right: 25px;
		}
	}
}