@import "mstaxsync-admin-params";

/**
 * mstaxsync-admin-style.scss
 */
.wrap {
	.mstaxsync-admin-box {
		position: relative;
		margin: 20px 0;
		border: 1px solid $gray-color1;
		background: $white;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

		.title {
			margin: 0;
			padding: 0 15px;
			border-bottom: 1px solid $gray-color2;

			h3 {
				margin: 1em 0;
				padding: 0;
				line-height: 1em;
				font-size: 14px;
			}

			.desc {
				margin: 1em 0;
				font-style: italic;
			}
		}

		.content {
			padding: 15px;

			/*****************/
			/* settings form */
			/*****************/

			.form-table {
				input[type="text"],
				input[type="password"],
				input[type="number"],
				textarea,
				select {
					width: 100%;
					max-width: 400px;
				}

				textarea {
					resize: none;
				}
			}

			/******************/
			/* taxonomy terms */
			/******************/

			.mstaxsync-taxonomy-terms-box {
				.mstaxsync-relationship {
					.list {
						margin: 0;
						padding: 5px;
						height: 250px;
						overflow: auto;

						.mstaxsync-rel-item {
							position: relative;
							margin: 0;
							padding: 5px 7px;
							min-height: 18px;
							display: block;
							cursor: pointer;

							&:hover {
								color: #fff;
								background: #3875D7;
							}

							&.disabled {
								opacity: 0.5;

								&:hover {
									color: #333;
									background: transparent;
									cursor: default;
								}
							}
						}

						ul {
							padding-left: 25px;
						}
					}

					.selection {
						font-size: 14px;
						border: #DFDFDF solid 1px;

						&:after {
							content: "";
							clear: both;
							display: table;
						}

						.values,
						.choices {
							float: left;
							width: 50%;
							background: #fff;
						}

						.choices {
							background: #F9F9F9;

							.list {
								border-right: 1px solid #DFDFDF;
							}
						}

						.values {
							.mstaxsync-icon {
								position: absolute;
								top: 4px;
								right: 7px;
								width: 18px;
								height: 18px;
								line-height: 16px;
								font-size: 16px;
								border: 1px solid transparent;
								border-radius: 100%;
								background: #23282D;
								color: #eee;
								overflow: hidden;
								transition: none;
								text-align: center;
								text-decoration: none;
								vertical-align: top;
								display: none;

								&:before {
									content: "x";
									position: relative;
								}

								&:focus {
									outline: none;
									box-shadow: none;
								}
							}

							.mstaxsync-rel-item {
								cursor: move;

								&:hover {
									.mstaxsync-icon {
										display: block;

										&:hover {
											color: #D54E21;
										}
									}
								}
							}
						}
					}

					ul {
						width: auto;
					}

					li {
						float: none;
						margin: 0;
						padding: 0;
						display: block;
					}
				}
			}
		}
	}
}

/**************/
/* responsive */
/**************/

@media (max-width: 782px) {

	.wrap {
		.mstaxsync-admin-box {
			.content {

				/*****************/
				/* settings form */
				/*****************/

				.form-table {
					select {
						height: auto !important;
					}
				}
			}
		}
	}
}